# React Native / Node
node_modules/
npm-debug.log
yarn-error.log

# Metro
.metro-health-check*
metro.config.js.bak

# builds
android/app/build/
ios/build/
ios/Pods/
*.ipa
*.apk

# machine-specific
ios/.xcode.env.local

# misc
.DS_Store
*.log
.env
